* {
    box-sizing: border-box;
}

body {
    background-image: url("../images/background.png");
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}

h1 {
    background-color: teal;
    padding: 5px;
    margin-left: -15px;
    color: white;
}

.col-6 {
    background-color: tan;
    color: black;
}

#random-number {
    background-color: teal;
    height: 100px;
    margin-top: 20px;
    color: white;
    font-weight: 500px;
    font-size: 20px;
    text-align: center;
}

#score {
    background-color: teal;
    height: 100px;
    margin-left: 20px;
    margin-top: 20px;
    color: white;
    
}

#crystal1 {
    background-color: tan;
    height: 100px;
    margin-top: 10px;
    /* display: hidden; */
}

#crystal2 {
    background-color:tan;
    height: 100px;
    margin-left: 10px;
    margin-top: 10px;
}

#crystal3 {
    background-color: tan;
    height: 100px;
    margin-left: 10px;
    margin-top: 10px;
}

#crystal4 {
    background-color: tan;
    height: 100px;
    margin-left: 10px;
    margin-top: 10px;
}

#total-score {
    background-color: teal;
    height: 50px;
    margin-top: 10px;
    color: white;
}

#user-score {
    background-color: teal;
    height: 100px;
    margin-top: 10px;
    color: white;
    font-weight: 500px;
    font-size: 20px;
    text-align: center;
}